<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Refractored.PagerSlidingTabStrip" version="1.0.9" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="22.1.1.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="22.1.1.1" targetFramework="MonoAndroid60" />
</packages>