@using EmpleoDotNet.ViewModel
@model List<EmpleoDotNet.Core.Domain.JobOpportunity>

@{
    ViewBag.Title = "";
}

@* This added here because the partial view _FindsJobPartinal need this JS to work :( *@
@section scripts {
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script type="text/javascript">

        google.maps.event.addDomListener(window, 'load', function () {
            var places = new google.maps.places.Autocomplete(document.getElementById('location-input'));
            google.maps.event.addListener(places, 'place_changed', function () {
                var place = places.getPlace();
                if (place) {
                    var placeId = place.place_id;
                    var latitude = place.geometry.location.lat();
                    var longitude = place.geometry.location.lng();

                    $('#location-placeid').val(placeId);
                    $('#location-latitude').val(latitude);
                    $('#location-longitude').val(longitude);
                } else {
                    $('#location-input').val('');
                    $('#location-placeid').val('');
                }
            });
        });
    </script>
}
    <!-- Intro -->
<header id="intro" class="no-padding">
    <div class="intro-content">
        <div class="intro-inner">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h1>Encuentra <strong>empleo</strong>, o un colaborador hoy</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


@Html.Partial("_FindJobsPartial", (JobOpportunitySearchViewModel)ViewBag.SearchViewModel)


<div class="container" style="margin-top: -50px;">
    <section id="jobs">
        <div class="container">
            <div class="row">
                <div>
                    <h2>Empleos Recientes</h2>
                </div>
                @Html.Partial("_JobListPartial", Model)
                <br />
                <a class="btn btn-primary" href="@Url.Action("Index", "JobOpportunity")">Mostrar mas empleos</a>
            </div>
        </div>
    </section>
</div>
