<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="refit" version="2.4.1" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
</packages>