<!--Copy me and name me Auth.config, then setup all the values-->
<appSettings>
  <add key="consumerKey" value="" />
  <add key="consumerSecret" value="" />
  <add key="accessToken" value="" />
  <add key="accessTokenSecret" value="" />
  <add key="reCaptchaPublicKey" value="" />
  <add key="reCaptchaPrivateKey" value="" />
  <add key="fbAppId" value="" />
  <add key="fbAppSecret" value="" />
  <add key="msClientId" value="" />
  <add key="msClientSecret" value="" />
  <add key="googleClientId" value="" />
  <add key="googleClientSecret" value="" />
  <add key="linkedinClientId" value="" />
  <add key="linkedinClientSecret" value="" />
</appSettings>