
@{
    ViewBag.Title = "403";
}


<section id="title">
    <div class="row text-center">
        <div class="col-sm-12">
            <div>
                <h3>Lo siento, no tienes permisos para ver esto.</h3>
                <h4>Si sigues intentando tendré que tomar cartas en el asunto.</h4>
                <br/>
                <p class="http-error">HTTP ERROR 403 (FORBIDDEN)</p>
                
            </div>
        </div>
    </div>
    <div class="row text-center">
        <img width="600" height="400" src="~/Content/img/pinedax.png" />
    </div>
    <br />
    <div class="row text-center">
        <a class="btn btn-primary" href="@Url.Action("Index", "JobOpportunity")">Encuentra mas trabajos</a>
    </div>
    <br />
</section>

