
@{
    ViewBag.Title = "400";
}

<section id="title">
    <div class="row text-center">
        <div class="col-sm-12">
            <div>
                <h1>Pero ven aca'? <br/>rompiste el build?</h1>
                <h4>deja de ta' inventando</h4>
                <br/>
                <p class="http-error">HTTP ERROR 400 (BAD REQUEST)</p>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <img width="600" height="400" src="~/Content/img/pinedax.png" />
    </div>
    <br />
    <div class="row text-center">
        <a class="btn btn-primary" href="@Url.Action("Index", "JobOpportunity")">Encuentra mas trabajos</a>
    </div>
    <br />
</section>

