
@{
    ViewBag.Title = "404";
}

<section id="title">
    <div class="row text-center">
        <div class="col-sm-12">
            <div class="">
                <h3>Lo siento, no encontré lo que buscabas.</h3>
                <h4>Descuida, No eres la única persona a quien esto le ha sucedido.</h4>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <img width="600" height="400" src="~/Content/img/pinedax.png"/>
    </div>
    <br/>
    <div class="row text-center">
        <a class="btn btn-primary" href="@Url.Action("Index", "JobOpportunity")">Encuentra otro aqui</a>
    </div>
    <br/>
</section>

