
@{
    ViewBag.Title = "400";
}

<section id="title">
    <div class="row text-center">
        <div class="col-sm-12">
            <div>
                <h3>Lo siento, no encontré lo que buscabas.</h3>
                <h4>No te preocupes, estaremos arreglandolo en breve.</h4>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <img width="600" height="400" src="~/Content/img/pinedax.png" />
    </div>
    <br />
    <div class="row text-center">
        <a class="btn btn-primary" href="@Url.Action("Index", "JobOpportunity")">Encuentra mas trabajos</a>
    </div>
    <br />
</section>

