
@{
    ViewBag.Title = "403";
}


<section id="title">
    <div class="row text-center">
        <div class="col-sm-12">
            <div>
                <h3>usted quiere saber mas de este site?</h3>
                <h4>Haga un pull-request </h4><span><a target="_blank" href="https://github.com/developersdo/empleo-dot-net">en este repositorio</a></span>
                <h5>o</h5>
                <h4>Contacte al moreno de ahi' abajo</h4>
                <br/>
                <p class="http-error">HTTP ERROR 403 (FORBIDDEN)</p>
                
            </div>
        </div>
    </div>
    <div class="row text-center">
        <img width="600" height="400" src="~/Content/img/pinedax.png" />
    </div>
    <br />
    <div class="row text-center">
        <a class="btn btn-primary" href="@Url.Action("Index", "JobOpportunity")">Encuentra mas trabajos</a>
    </div>
    <br />
</section>

