
@{
    ViewBag.Title = "500";
}

<section id="title">
    <div class="row text-center">
        <div class="col-sm-12">
            <div>
                <h3>Oops! Ha ocurrido un error en nuestro sistema</h3>
                <h4>Estaré revisandolo en breve y empleando mi fuerza para arreglarlo. <br/>Gracias por tu paciencia.</h4>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <img width="600" height="400" src="~/Content/img/pinedax.png" />
    </div>
    <br />
    <div class="row text-center">
        <a class="btn btn-primary" href="@Url.Action("Index", "JobOpportunity")">Encuentra mas trabajos</a>
    </div>
    <br />
</section>

