@model EmpleoDotNet.Models.Tag

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd> 

    </dl>
</div>
<p>
    @Html.ActionLink("Editar","Edit", "Edit", new { id = Model.Id,@class="btn btn-sm btn-default" }) |
    @Html.ActionLink("Ver Lista", "Index", null, new { @class = "btn btn-sm btn-info" })
</p>
