@using EmpleoDotNet.Helpers.Alerts
@if (TempData.GetAlerts().Any())
{
    <div class="container padding-top-80">
        @foreach (var alert in TempData.GetAlerts())
        {
        <div class="alert @alert.AlertClass alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @Html.Raw(alert.Message)
        </div>
        }
    </div>
}
