<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="Borrar Oportunidad de Empleo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top:20%">
            <div class="modal-header">
                <h3>¿Está seguro que desea borrar ésta oportunidad de empleo?</h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger btn-ok">Borrar</a>
            </div>
        </div>
    </div>
</div>
