@{
    ViewBag.Title = "Servicio en mantenimiento";
}

<section id="jobs">
    <div class="row text-center">
        <div class="col-sm-12">
            <div>
                <h3>En estos momentos el servicio está en mantenimiento</h3>
                <h4>En breves instantes estaremos en línea</h4>
                <br />
            </div>
        </div>
    </div>
    <div class="row text-center">
        <img width="600" height="400" src="~/Content/img/pinedax.png" />
    </div>
</section>
