@using EmpleoDotNet.ViewModel.Account
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Inicia sesión";
}

@section styles
{
    <link href="~/Content/css/plugins/bootstrapsocialgf/bootstrap-social.min.css" rel="stylesheet" />
}

<div class="container">
    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl, Action = "ExternalLogin" })
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
