@model EmpleoDotNet.Models.JobOpportunity

<h1>Esto es una prueba de un detalle</h1>

Id: @Model.Id <br/>

<strong>
    Titulo: @Model.JobTitle <br />
</strong>

Localidad: @Model.Location <br/>
Requerimientos: @Model.RequirementsToApply <br/>



